<?php

// HTTP
define('HTTP_SERVER', 'http://{{oc_web_host}}{{oc_web_path}}/');
define('HTTP_ADMIN', 'http://{{oc_web_host}}{{oc_web_path}}/admin/');

// HTTPS
define('HTTPS_SERVER', 'https://{{oc_web_host}}{{oc_web_path}}/');
define('HTTPS_IMAGE', 'https://{{oc_web_host}}{{oc_web_path}}/image/');

// DIR
define('DIR_APPLICATION', '{{oc_web_dir}}/catalog/');
define('DIR_SYSTEM', '{{oc_web_dir}}/system/');
define('DIR_DATABASE', '{{oc_web_dir}}/system/database/');
define('DIR_LANGUAGE', '{{oc_web_dir}}/catalog/language/');
define('DIR_TEMPLATE', '{{oc_web_dir}}/catalog/view/theme/');
define('DIR_CONFIG', '{{oc_web_dir}}/system/config/');
define('DIR_IMAGE', '{{oc_web_dir}}/image/');
define('DIR_CACHE', '{{oc_web_dir}}/system/storage/cache/');
define('DIR_DOWNLOAD', '{{oc_web_dir}}/system/storage/download/');
define('DIR_UPLOAD', '{{oc_web_dir}}/system/storage/upload/');
define('DIR_MODIFICATION', '{{oc_web_dir}}/system/storage/modification/');
define('DIR_LOGS', '{{oc_web_dir}}/system/storage/logs/');

// DB
define('DB_DRIVER', '{{oc_db_drv}}');
define('DB_HOSTNAME', '{{oc_db_host}}');
define('DB_USERNAME', '{{oc_db_user}}');
define('DB_PASSWORD', '{{oc_db_pass}}');
define('DB_DATABASE', '{{oc_db_db}}');
define('DB_PREFIX', 'oc_');
define('DB_PORT', '3306');

?>

